.header_sec .header_sec_img {
  z-index: -1;
}

.header_sec .header_sec_main {
  margin-top: 200px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  text-align: center;
}

.header_sec .header_sec_main h1 {
  color: white;
  font-size: 45px;
  letter-spacing: 1px;
}

.header_sec .header_sec_main h1 .header_sec_main_count {
  color: #03a84e;
  font-size: 55px;
}

.header_sec .header_sec_main .header_sec_main_sh {
  margin-top: -20px;
}

.header_sec .header_sec_main p {
  color: #e0dddd;
}

.header_sec .header_sec_main .header_sec_main_search {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.header_sec .header_sec_main .header_sec_main_search .main_search_form {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 20px;
  justify-content: center;
}

.header_sec .header_sec_main .header_sec_main_search .main_search_form .main_search_div {
  cursor: pointer;
  z-index: 2;
}

.header_sec .header_sec_main .header_sec_main_search .main_search_form .main_search_div input {
  padding: 20px;
  font-size: 17px;
  border-radius: 4px;
  border: none;
  width: 100%;
}

.header_sec .header_sec_main .header_sec_main_search .main_search_form .main_search_div select {
  padding: 20px;
  font-size: 17px;
  border-radius: 4px;
  border: none;
  background-color: white;
  width: 100%;
  color: #6b6969;
}

@media screen and (max-width: 767px) {
  .header_sec .header_sec_main {
    margin-top: 130px;
  }
  .header_sec .header_sec_main .header_sec_main_search .main_search_form {
    display: grid;
    grid-template-columns: 35% 35%;
    justify-content: center;
  }
  .header_sec .header_sec_main .header_sec_main_search .main_search_form .main_search_div input {
    margin-left: 0px;
  }
}

@media screen and (max-width: 576px) {
  .header_sec .header_sec_main {
    margin-top: 90px;
  }
  .header_sec .header_sec_main h1 {
    color: white;
    font-size: 25px;
  }
  .header_sec .header_sec_main h1 .header_sec_main_count {
    color: #03a84e;
    font-size: 30px;
  }
  .header_sec .header_sec_main .header_sec_main_search {
    margin-top: 15px;
  }
  .header_sec .header_sec_main .header_sec_main_search .main_search_form {
    display: grid;
    grid-template-columns: 90%;
    grid-gap: 5px;
    justify-content: center;
  }
  .header_sec .header_sec_main .header_sec_main_search .main_search_form .main_search_div {
    cursor: pointer;
    z-index: 2;
  }
  .header_sec .header_sec_main .header_sec_main_search .main_search_form .main_search_div input {
    padding: 15px;
    font-size: 16px;
    margin-left: 0px;
  }
  .header_sec .header_sec_main .header_sec_main_search .main_search_form .main_search_div select {
    padding: 15px;
    font-size: 16px;
  }
}
