.job_card {
  background-color: white;
  padding: 35px;
  border-radius: 5px;
}

.job_card .job_card_header {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-gap: 20px;
}

.job_card .job_card_header .job_card_header_img {
  object-fit: contain;
}

.job_card .job_card_header .job_card_header_right p {
  margin-top: -10px;
  font-size: 15px;
  color: #888686;
}

.job_card h2 {
  cursor: pointer;
  transition: all 0.3s ease;
}

.job_card h2:hover {
  color: #03a84e;
}

.job_card .job_card_skill {
  color: #888686;
  margin: 10px 0px;
  line-height: 30px;
}

.job_card .job_card_footer {
  display: grid;
  grid-template-columns: 40% 40%;
  justify-content: space-between;
}

.job_card .job_card_footer p {
  color: #888686;
}

.job_card .job_card_footer p .job_card_footer_tk {
  font-size: 20px;
  font-weight: 600;
  color: black;
}

.job_card .job_card_footer button {
  height: 40px;
  width: 100px;
  border: none;
  background-color: #03a84e;
  border-radius: 5px;
  color: white;
  letter-spacing: 1px;
  transition: all 0.4s ease;
  cursor: pointer;
  margin-top: 10px;
}

.job_card .job_card_footer button:hover {
  background-color: white;
  border: 1px solid #03a84e;
  color: #03a84e;
}

@media screen and (max-width: 576px) {
  .job_card {
    padding: 25px;
  }
  .job_card h2 {
    margin-top: 0px;
  }
  .job_card .job_card_skill {
    line-height: 27px;
  }
  .job_card .job_card_footer p .job_card_footer_tk {
    font-size: 19px;
    font-weight: 600;
    color: black;
  }
  .job_card .job_card_footer button {
    height: 35px;
    width: 90px;
    letter-spacing: 0px;
  }
}
